name: Backend Docker Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build JAR file
        run: |
          cd daily-walk-tracker-backend/walktracker
          mvn clean package -DskipTests

      - name: Build Docker image
        run: |
          cd daily-walk-tracker-backend/walktracker
          docker build -t walktracker .