name: Walk Tracker CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  backend-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Spring Boot backend
        run: |
          cd daily-walk-tracker-backend/walktracker
          mvn clean package -DskipTests